@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/* layout */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.display {
  width: 50vmin;
  height: 10vh;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* grid */
.calculator {
  width: 50vmin;
  height: 50vmin;
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "seven eight nine div"
    "four five six mult"
    "one two three sub"
    "eq zero c add";
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#div {
  grid-area: div;
}

#mult {
  grid-area: mult;
}

#sub {
  grid-area: sub;
}

#add {
  grid-area: add;
}

#equal {
  grid-area: eq;
}

#clear {
  grid-area: c;
}

/* button sytling */
.btn {
  font-size: 2rem;
  color: white;
}

.operand {
  background: black;
}

.operand:hover {
  background: #343a40;
}

.operator {
  background: #212529;
}

.operator:hover {
  background: #495057;
}
