*{
    box-sizing: border-box;
}

body {
    background: rgba(248,248,255,1) ;
}
#set {
    display: flex;
    align-self: center;
}

/* responsive square grid  */
.container {
    
}

.square {
    border: 1px solid black;
}

.square::before {
 
}


 .title {
    text-align: center;
}

/* .square {
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;	
}

.container {
    height: 500px;
    width: 960px;
    font-size: 0;
    margin: auto;
} */
