*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #263238;
  --primary-light: #4f5b62;
  --primary-lighter: #4f5b6244;
  --primary-dark: #000a12;
  --secondary: #84ffff;
  --secondary-light: #baffff;
  --secondary-dark: #4bcbcc;
  --off-white: #e8eaed;
  --transparent-white: rgba(255, 255, 255, 0.25);
}
/* ===========================================
            General layout & Typography
    ===========================================
*/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-dark);
  background: var(--primary);
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

.text__light {
  color: var(--off-white);
}

.text__dark {
  color: var(--primary-dark);
}

.main-container {
  display: flex;
}
.row {
  display: flex;
}

.row__center {
  align-items: center;
}

.title-container {
  margin: 0.5em;
}
.title-container h1 {
  font-size: 3rem;
  font-weight: 900;
  font-variant: capitalize;
  letter-spacing: 0.1em;
}

/* .title-description-container {
  max-width: 960px;
  background-color: var(--primary-light);
}
.title-description {
  font-weight: 400;
  margin: 0.5em 0;
}
.title-description__small {
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  margin: 0.25em 0;
} */

/* ===========================================
                Sidebar
    ===========================================
*/
aside {
  background-color: var(--primary-light);
  padding-right: 0.5em;
}

.btn__side:hover {
  background-color: var(--transparent-white);
  border-radius: 0 5em 5em 0;
}

.btn__side:focus {
  outline: 2px solid var(--secondary-light);
  border-radius: 0 5em 5em 0;
}

.btn__side {
  background-color: var(--primary-light);
  border: none;
  cursor: pointer;
  padding: 0.25em 1em;
  margin: 0.75em 0;
  white-space: nowrap;
}

/* ===========================================
                Main Section
    ===========================================
*/

.main-section {
  background-color: var(--off-white);
  min-height: 90vh;
  width: 100%;
}

/* ===========================================
                Material Icons
    ===========================================
*/

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* ===========================================
                Card styling
    ===========================================
*/
.card {
  margin: 1em;

  max-width: 238px;
  border-radius: 0.5em;
  padding: 1.5em;
  background-color: #4f5b6244;
  /* text-align: center; */
}

/* .card-title {
  margin-top: 0;
} */

/* ===========================================
                Checkbox styling
    ===========================================
*/

input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox label {
  display: flex;
}

.checkbox label::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.1em solid var(--primary-dark);
}

label:hover::before,
input[type='checkbox']:hover + label::before {
  border: 0.1em solid var(--primary-light);
  box-shadow: 0 0 0.25em 0.25em #26323856;
}

input[type='checkbox']:focus + label::before {
  box-shadow: 0 0 0.25em 0.25em #26323856;
}

input[type='checkbox']:checked + label::before {
  content: '\002714';
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-light);
  background-color: var(--primary-light);
}
