*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  min-height: 300px;
  width: 80%;
  background: ;
}
